@body-font:'Raleway';
@main-color:#444;

/*==============================================
	Let's start the magic!
==============================================*/
html, body {
	font-family:@body-font;
	color:#444;
	background:#f0f0f0 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

/*==============================================
	1. Loading
==============================================*/
.loading-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	background: #222;
	text-align: center;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes pulsate {
	0% {
		transform: scale(0.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
/* Standard syntax */
@keyframes pulsate {
	0% {
		transform: scale(0.1);
		opacity: 0.0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}
.loading-signal {
	border: 3px solid #fff;
	border-radius: 30px;
	height: 30px;
	left: 50%;
	margin: -15px 0 0 -15px;
	opacity: 0;
	position: absolute;
	top: 50%;
	width: 30px;
	-webkit-animation: pulsate 1s ease-out;
	animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

/*==============================================
	Architecture
==============================================*/
.section {
	padding:60px 0;
	transition:all ease-in-out 1s;
	
	&.dark {
		background:#111;
		color:#eee;
	}
	
	&.white {
		background:#fff;
		color:#666;
	}
	
	&.lightgray {
		background:#f2f2f2;
		color:#666
	}
	
	&.white,
	&.lightgray {
		h1,h2,h3,h4,h5,h6 { color:#444; }
		h1 small,h2 small,h3 small,h4 small,h5 small,h6 small { color:#999; }
		
		.learn-more {
			a {
				color:#999;
				&:hover,
				&:focus { color:#333; outline:0; }
			}
		}
	}
}

.section-heading {
	margin-bottom:45px;
	text-align:center;
}

.section-title {
	border-bottom:2px solid #333;
	padding-bottom:15px;
	margin-bottom:15px;
	font-weight:800;
	color:333;
	display:inline-block;
	
	&:after {
		content:" ";
		display:block;
	}
}

footer {
	background:#242520;
	color:#aaa;
	text-align:center;
	font-size:13px;
	padding:35px 0;
}

hr {
	border-top:1px solid #aaa;
	border-top:1px solid rgba(0,0,0,0.5);
}

hr.white {
	border-color:#fff;
	border-color:rgba(255,255,255,0.5);
}

a { color:#aaa; transition:all ease-in-out 250ms; }
a:hover { text-decoration:none; color:#fff; }

img { max-width:100%; }

/*==============================================
	Backgrounds
==============================================*/
.bg-1 {
	background:url('../images/background.jpg') center;
	background-size:cover;
}

.bg-services {
	background:#f7f6f4;
}

.bg-twitter {
	background:url('../images/projects-3.jpg') center;
	background-size:cover;
}

.bg-projects {
	background:url('../images/projects-2.jpg') center;
	background-size:cover;
}

.bg-blogs {
	background:#f6f7f1;
}

.bg-order-now {
	background:#fff;
}

.bg-contact {
	background:#f6f7f1;
}

/*==============================================
	Font Color
==============================================*/
.yellow 	{ color:#fff4aa; }
.red 	{ color:#ff9292; }
.green	{ color:#90ff90; }
.cyan	{ color:#00b7a8; }
.orange	{ color:#ff7725; }
.white	{ color:#ffffff; }

/*==============================================
	Typography
==============================================*/
h1,h2,h3,h4,h5,h6 { color:#000; font-weight:800; text-transform:uppercase; }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small { color:#bbb; }
p { font-size:15px; line-height:190%; }

.heading-small { font-size:16px; }

.font-s-60 { font-size:60px; }
.font-s-56 { font-size:56px; }
.font-s-48 { font-size:48px; }
.font-s-36 { font-size:36px; }

.number { font-size:20px; text-align:center; }
.accent { display:block; font-size:60px; font-weight:bold; }

.main-title {
	font-size:50px;
	font-weight:bold;
	text-shadow:0px 0px 10px rgba(0,0,0,0.85);
	
	small {
		color:#fff;
		text-shadow:0px 0px 10px rgba(0,0,0,0.85);
		text-transform:lowercase;
		letter-spacing:-0.5px;
		font-weight:200;
		font-size:32px;
	}
}

.entry-title {
	text-align:center;
	border-bottom:2px solid #333;
	padding-bottom:15px;
	font-weight:800;
	color:#333;
	
	a {
		color:#333;
		
		&:hover {
			text-decoration:underline;
		}
	}
}

.order-price {
	font-size:55px;
	margin:20px 0;
	font-weight:bold;
	color:@main-color;
}

.or {
	display:inline-block;
	color:#fff;
	background:@main-color;
	border-radius:50px;
	height:45px;
	width:45px;
	padding:12px 0px;
	text-align:center;
	text-transform:uppercase;
	margin:10px 15px;
	font-weight:bold;
}

/*==============================================
	Navigation
==============================================*/
.navigation-container {
	height:81px;
}
.navbar-lenasia {
	background:#fff;
	border-radius:0;
	transition:all ease-in-out 250ms;
	padding:10px 0;
	text-align:center;
	z-index:50;
	
	&.affix {
		top:0;
		width:100%;
		z-index:150;
		box-shadow:0 0 4px rgba(0,0,0,0.25);
		/*
		ul.nav {
			display:inline-block;
			text-align:center;
			float:none;
		}
		*/
	}
	
	.nav>li>a {
		border-top:2px solid transparent;
		border-bottom:2px solid transparent;
		font-weight:bold;
	}
	
	.nav>li.active>a,
	.nav>li>a:hover,
	.nav>li>a:focus {
		text-decoration: none;
		background-color:transparent;
		color:#333;
		border-bottom-color:#333;
	}
}


/*==============================================
	Splash
==============================================*/
.splash {
	background:url('../images/splash-deathtostock.jpg') fixed top center;
	background-size:cover;
	text-align:center;
	color:#fff;
	
	p {
		font-size:19px;
		color:#fff;
		letter-spacing:1px;
		word-spacing:3px;
	}
}

.splash-title {
	font-size:75px;
	font-weight:bold;
	color:#fff;
	margin:0 0 30px 0;
	line-height:45px;
	
	small {
		color:#fff;
		font-size:30px;
		letter-spacing:3px;
		word-spacing:10px;
		margin:0;
	}
}

/*==============================================
	Accordion
==============================================*/
.accordion {
	margin:0;
	padding:0;
	list-style:none;
	
	li {
		margin:0;
		padding:0;
		list-style:none;
		border-bottom:1px solid #eee;
		transition:all ease-in-out 200ms;
		
		&:last-child {
			border-bottom:0;
		}
		
		.schedule-time {
			display:inline-block;
			width:100px;
			font-size:22px;
			background:#f0f0f0;
			color:#555;
			padding:18px 20px;
			transition:all ease-in-out 200ms;
		}
		
		.accordion-title {
			display:inline-block;
			padding:18px 20px;
			margin:0;
		}
		
		.schedule-speaker {
			display:inline-block;
			padding:0 0 5px 20px;
			margin-right:-10px;
			
			img {
				border-radius:50px;
				width:50px;
				display: inline-block;
				margin-top: -7px;
			}
			
			h4 {
				display:inline-block;
				margin:0 0 0 10px;
			}
		}
		
		&:hover {
			background:#eee;
			color:#000;
			
			.schedule-time {
				background:#aaa;
				color:#fff;
			}
		}
	}
	
	.accordion-body {
		padding: 15px 20px;
		border-left: 5px solid #eee;
		border-top: 1px solid #f0f0f0;
	}
}

/*==============================================
	Tabs
==============================================*/
.nav.nav-tabs {
	border:0;
	margin-bottom:5px;
	
	li {
		a {
			background:#f0f0f0;
			color:#555;
			border:3px solid #f0f0f0;
			border-radius:5px; 
			padding:15px 20px;
			margin-right:5px;
			font-weight:bold;
		}
		
		&:hover a {
			border-color:#aaa;
		}
		
		&.active:hover a,
		&.active a {
			background:#fff;
			border:3px solid #aaa;
			color:#aaa;
		}
	}
}

/*==============================================
	Docked Illustration
==============================================*/
.docked-illustration {
	position:relative;
	overflow:hidden;
	height:300px;
	padding-top:25px;
	transition:all ease-in-out 200ms;
	margin-top:15px;
	margin-bottom:-60px;
	z-index:1;
}

.bg-order-now:hover {
	.docked-illustration {
		padding-top:0;
	}
}

/*==============================================
	Tweets
==============================================*/
.tweets {
	margin-top:20px;
	padding:30px;
	color:#444;
	background:rgba(255,255,255,0.85);
	text-align:center;
		
	ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	
	li {
		margin:0;
		padding:0;
		line-height:180%;
		font-size:17px;
		
		a {
			color:#444;
			font-weight:bold;
			
			&:hover {
				text-decoration:underline;
			}
		}
	}
	
	&:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(213, 213, 213, 0);
		border-top-color: rgba(255,255,255,0.85);
		border-width: 10px;
		margin-left: -10px;
	}
}

.twitter-username {
	margin-top:30px;
	margin-bottom:20px;
	text-align:center;
	padding:13px;
	color:#333;
	background:#fff;
	display:inline-block;
}

/*==============================================
	Hexagon
==============================================*/
.hexagon {
	position: relative;
	width: 225px; 
	height: 129.90px;
	margin: 64.95px 0;
	background-size: auto 259.8076px;
	background-position: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	text-align:left;
	display:inline-block;
}

.hexTop,
.hexBottom {
	position: absolute;
	z-index: 1;
	width: 159.10px;
	height: 159.10px;
	overflow: hidden;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background: inherit;
	left: 32.95px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
	content: "";
	position: absolute;
	width: 225.0000px;
	height: 129.9038105676658px;
	-webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-64.9519px);
	-ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-64.9519px);
	transform:          rotate(45deg) scaleY(1.7321) translateY(-64.9519px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	background: inherit;
}

.hexTop {
	top: -79.5495px;
}

.hexTop:after {
	background-position: center top;
}

.hexBottom {
	bottom: -79.5495px;
}

.hexBottom:after {
	background-position: center bottom;
}

.hexagon:after {
	content: "";
	position: absolute;
	top: 0.0000px;
	left: 0;
	width: 225.0000px;
	height: 129.9038px;
	z-index: 2;
	background: inherit;
}

/*==============================================
	Map
==============================================*/
.map {
	padding:0;
}

#map_canvas {
	width: 100%;
	height: 450px;
	background: #f8fdfd;
	z-index: 0;
	position: relative;
}

/*==============================================
	Form
==============================================*/
.form-control {
	border-radius:0;
	background:#fff;
	box-shadow:1px 1px 2px rgba(0,0,0,0.25);
	padding:20px 18px;
	height:50px;
	border:0;
}

.lenasia-form-group {
	box-shadow:1px 1px 2px rgba(0,0,0,0.25);
	
	.input-group-addon {
		border:0;
		background:@main-color;
		color:#fff;
		border-radius:0;
		min-width:45px;
	}
	
	.form-control {
		box-shadow:0 0 0;
	}
}

.contact-textarea {
	height:180px !important;
	outline:0;
}

.contact-illust {
	text-align:center;
	font-size:40px;
}

/*==============================================
	Buttons
==============================================*/
.btn-lux {
	background:transparent;
	box-shadow:none;
	color:#777;
	border:2px solid #777;
	border-radius:3px;
	padding:10px 15px; 
	font-weight:bold;
	transition:all ease-in-out 200ms;
	text-transform:uppercase;
	
	&:focus,
	&:hover {
		color:#aaa;
		outline:0;
		border-color:#aaa;
	}
}

.btn.btn-round {
	border-radius:50px;
}

.learn-more {
	padding-top:50px;
	
	a {
		color:#fff;
		color:rgba(255,255,255,0.75);
		
		&:hover,
		&:focus { color:#fff; outline:0; }
	}
	
	i { font-size:50px; }
}

/*==============================================
	Pricing Table
==============================================*/
.table-header {
	background:#eaeaea;
	padding:20px;
	text-align:center;
	
	h1,h2,h3,h4,h5,h6 {
		margin:0;
	}
	
	.accent {
		font-size:35px;
		display:inline-block;
		border-radius:50px;
		padding:25px 0;
		width:100px;
		height:100px;
		background:#fff;
	}
}

.table-features {
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	
	li {
		padding:20px 0;
		margin:2px 0;
		background:#f0f0f0;
	}
}

/*==============================================
	News List
==============================================*/
.news-list {
	margin:0;
	padding:0;
	list-style:none;
	
	.news {
		margin:0;
		padding:15px 20px;
		list-style:none;
		line-height:150%;
		border-bottom:1px solid #eee;
		transition:all ease-in-out 200ms;
		
		&:last-child {
			border-bottom:0;
		}
		
		&:hover {
			background:#f0f0f0;
			padding-left:30px;
		}
		
		h4 {
			margin:0 0 10px;
		}
	}
}

.news-date {
	text-transform:uppercase;
	color:#777;
	font-size:12px;
}


/*==============================================
	Speakers
==============================================*/
.speaker-info {
	background:#f0f0f0;
	margin:0;
	padding:25px;
	
	h3 {
		margin:0 0 15px;
	}
}
.speaker-contacts {
	display:block;
	text-align:center;
	margin:0;
	padding:0;
	font-size:0;
	background:#444;
	border-top:3px solid #aaa;
	
	li {
		display:inline-block;
		width:33.33%;
		
		a {
			display:inline-block;
			padding:15px;
			font-size:20px;
			width:100%;
			
			&:hover {
				background:#222;
			}
		}
	}
}

/*==============================================
	Blogs
==============================================*/
.blog {
	.featured-image {
		text-align:center;
		margin-bottom:10px;
	}
	
	.entry-title {
		text-align:center;
		border-top:1px solid #555;
		border-bottom:1px solid #555;
		padding:15px 0;
		font-weight:bold;
		margin:10px 0;
		
		a {
			color:#333;
			
			&:hover {
				color:#aaa;
			}
		}
	}
	
	.entry-date {
		text-align:center;
		font-size:20px;
		color:#999;
	}
}

/*==============================================
	Explanation
==============================================*/
.explanation {
	margin-bottom:30px;
	
	&.right {
		.explanation-illust {
			float:right;
			text-align:center;
		}
		
		.explanation-desc {
			margin-right:47px;
			text-align:right;
		}
	}
	
	&.left {
		.explanation-illust {
			float:left;
			text-align:center;
		}
		
		.explanation-desc {
			margin-left:47px;
			text-align:left;
		}
	}
	
	.explanation-illust {
		width:42px;
	
		.fa {
			font-size:20px;
		}
	}
	
	.explanation-desc {
		h1,h2,h3,h4,h5,h6 {
			font-size:18px;
			font-weight:bold;
		}
	}
}

/*==============================================
	Services
==============================================*/
.service {
	margin-bottom:10px; 
	
	.featured-image {
		border:2px solid @main-color;
		border-radius:50px;
		display:inline-block;
		width:75px;
		height:75px;
		text-align:center;
		float:left;
		margin-right:20px;
		margin-bottom:20px;
		padding-top:10px;
		transition:all ease-in-out 200ms;
	}
		
	.ico-type {
		font-size:35px;
		color:@main-color;
	}
	
	&:hover {
		.featured-image {
			box-shadow:0 0 8px @main-color;
		}
	}
}

.service-2 {
	margin-bottom:10px; 
	
	.featured-image {
		text-align:center;
		transition:all ease-in-out 200ms;
	}
		
	.ico-type {
		font-size:60px;
		color:@main-color;
	}
	
	.entry-title {
		text-align:center;
		border-bottom:2px solid #333;
		padding-bottom:15px;
		font-weight:800;
		color:#333;
		
		a {
			color:#333;
			
			&:hover {
				text-decoration:underline;
			}
		}
	}
	
	.entry-excerpt {
		text-align:center;
	}
}

/*==============================================
	Owl Carousels
==============================================*/
.project {
	background:#fff;
	float:left;
	margin:10px;
	box-shadow:3px 1px 5px rgba(0,0,0,0.5);
	
	.big-image {
		padding:0;
		margin:0;
		background-size:cover;
		background-position:top center;
		height:373px;
	}
	
	.project-detail {
		padding:0;
		margin:0;
	}
	
	.project-description {
		padding:35px;
		border-bottom:2px solid #ddd;
	}
	
	.project-text {
		height:95px;
		width:100%;
		position:relative;
		overflow: hidden;
	}
	
	.project-title {
		margin:0;
		padding:0;
	}
	
	.project-meta {
		color:@main-color;
		text-transform:uppercase;
		margin-bottom:20px;
	}
	
	.project-thumbnail {
		background:#f0f0f0;
		text-align:center;
		padding:10px;
		
		a {
			display:inline-block;
			margin:10px;
		}
		
		img {
			border-radius:50px;
			width:100px;
			height:100px;
			border:5px solid #fff;
			box-shadow:1px 1px 2px rgba(0,0,0,0.5);
			transition:all ease-in-out 200ms;
			
			&:hover {
				box-shadow:1px 1px 8px rgba(0,0,0,0.5);
			}
		}
	}
}

.projects {
	.owl-theme .owl-controls .owl-page:hover span,
	.owl-theme .owl-controls .owl-page.active span {
		background:#fff !important;
	}
	
	.owl-theme .owl-controls .owl-page span {
		opacity:1;
		background:rgba(255,255,255,0.1);
		border:2px solid #fff !important;
		transition:all ease-in-out 200ms;
		width:20px;
		height:20px;
	}
	
	.owl-theme .owl-controls {
		margin-top:25px;
	}
}

.owl-navigation-custom {
	text-align:right;
	padding:10px;
	
	.button {
		background:#fff;
		color:#333;
		display:inline-block;
		padding:10px;
		text-align:center;
		width:35px;
		
		&:hover {
			background:@main-color;
			cursor:pointer;
			color:#fff;
		}
	}
}

/*==============================================
	Contact Form
==============================================*/
.contact-form {
	font-size:20px;
	margin:40px 0 20px;
}

.contact-message-container {
	display:none;
}

/*==============================================
	Utility
==============================================*/
.block { display:block; }
.inline-block { display:inline-block; }
.inline { display:inline; }

.margin-0 { margin-bottom:0px; }
.margin-10 { margin-bottom:10px; }
.margin-20 { margin-bottom:20px; }
.margin-30 { margin-bottom:30px; }
.margin-40 { margin-bottom:40px; }
.margin-50 { margin-bottom:50px; }
.margin-60 { margin-bottom:60px; }

/* ==========================================================================
   Mobile styles
   ========================================================================== */ 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.main-title { font-size:35px; }
	.main-title small { font-size:16px; }
	
	.form-horizontal.iForm {
		margin-top:30px;
		
		.control-label {
			font-size:15px;
		}
		
		.form-control {
			font-size:15px;
			height:22px;
		}
		
		textarea.form-control {
			height: auto;
		}
	}
	
	.form-horizontal .form-group {
		margin-left:0;
		margin-right:0;
	}
	
	.social-btn {
		width:100px;
		height:100px;
		font-size:40px;
	}
	
	.newsletter {
		fieldset {
			border:1px solid #fff;
			display:inline-block;
			
			input {
				width:155px;
				padding:15px 19px;
			}
			
			input[type=submit],button {
				padding:15px 19px;
			}
		}
	}
	
	.clock_container {
		margin-top:-25px;
	}
	
	.clock-section {
		padding:13px 10px;
	}
}


/* Landscape phone to portrait tablet */
@media (max-width: 480px) and (max-width: 767px) { 
	// Splash
	.splash-title {
		font-size:30px;
		
		small {
			font-size:16px;
			letter-spacing:1px;
		}
	}
	
	.splash {
		p {
			font-size:14px;
		}
	}
	
	
	// Hexagon
	.hexagon {
		width: 150px; 
		height: 86.60px;
		margin: 43.30px 0;
		background-size: auto 173.2051px;
	}

	.hexTop,
	.hexBottom {
		width: 106.07px;
		height: 106.07px;
		-webkit-transform: scaleY(0.5774) rotate(-45deg);
		-ms-transform: scaleY(0.5774) rotate(-45deg);
		transform: scaleY(0.5774) rotate(-45deg);
		left: 21.97px;
	}

	/*counter transform the bg image on the caps*/
	.hexTop:after,
	.hexBottom:after {
		width: 150.0000px;
		height: 86.60254037844388px;
		-webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
		-ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
		transform:          rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	.hexTop {
		top: -53.0330px;
	}

	.hexBottom {
		bottom: -53.0330px;
	}

	.hexagon:after {
		top: 0.0000px;
		left: 0;
		width: 150.0000px;
		height: 86.6025px;
	}
}
@media (min-width: 481px) and (max-width: 767px) { 
	// Splash
	.splash-title {
		font-size:30px;
		
		small {
			font-size:16px;
			letter-spacing:1px;
		}
	}
	
	.splash {
		p {
			font-size:14px;
		}
	}
	
	
	// Hexagon
	.hexagon {
		width: 150px; 
		height: 86.60px;
		margin: 43.30px 0;
		background-size: auto 173.2051px;
	}

	.hexTop,
	.hexBottom {
		width: 106.07px;
		height: 106.07px;
		-webkit-transform: scaleY(0.5774) rotate(-45deg);
		-ms-transform: scaleY(0.5774) rotate(-45deg);
		transform: scaleY(0.5774) rotate(-45deg);
		left: 21.97px;
	}

	/*counter transform the bg image on the caps*/
	.hexTop:after,
	.hexBottom:after {
		width: 150.0000px;
		height: 86.60254037844388px;
		-webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
		-ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
		transform:          rotate(45deg) scaleY(1.7321) translateY(-43.3013px);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
	}

	.hexTop {
		top: -53.0330px;
	}

	.hexBottom {
		bottom: -53.0330px;
	}

	.hexagon:after {
		top: 0.0000px;
		left: 0;
		width: 150.0000px;
		height: 86.6025px;
	}
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
}


/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
     

/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}    